.DS_Store

*/*
!*/*.base
!*/.gitkeep

!.github/
!.github/*

!00 ■ System/00.01 Templates/
!00 ■ System/00.01 Templates/*
!00 ■ System/00.02 Attachments/*.base

!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/canvas.json
!.obsidian/core-plugins.json
!.obsidian/daily-notes.json
!.obsidian/graph.json
!.obsidian/hotkeys.json
!.obsidian/switcher.json
!.obsidian/templates.json
!.obsidian/snippets
!.obsidian/themes
!.obsidian/fonts
!.obsidian/plugins/*/data.json
!.obsidian/plugins/*/main.js
!.obsidian/plugins/*/manifest.json

